<!DOCTYPE html>
<html>
  <head>
    <title>GamaGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
  </head>

  <body>
    <%= render partial: 'shared/menu' %>
    <%= render partial: 'shared/flash_messages' %>
    <div id="main-container" class="container">
      <%= yield %>
    </div>
  </body>
</html>
